@(result: PiApprox)(implicit request: RequestHeader)

@main("Akka-Pi Play Webclient") {
  <h1>Vorläufiges Ergebnis</h1>
  <a href="/assets/client.zip">Client downloaden</a>
  <table>
    <tr>
      <td>Anzahl Glieder (in der Reihe)</td>
      <td class="n">@result.n</td>
    </tr>
  </table>
  <h2>Pi-Approximation</h2>
  <style type="text/css">
    p { margin: 0; }
  </style>
  <div class="pi" style="font-family: monospace; font-size: 1.48em;">
    @result.approx
  </div>

  <script type="text/javascript" charset="utf-8">
        $(function() {
	    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
	    var chatSocket = new WS("@routes.Application.result.webSocketURL()");

	    var receiveEvent = function (event) {
		var data = JSON.parse(event.data);
		$(".n").text(data.n);
		var dotPi = $(".pi");
		dotPi.html("");
		var ps = data.pi.map(function (piPart) {
		    var p = $('<p></p>').text(piPart);
		    dotPi.append(p);
		});
	    };
	    
	    chatSocket.onmessage = receiveEvent
	});
</script>
}
